<%- include("layoutTop") %>

        <p>Here's a list of my cats: <%= cats %></p>
        <% cats.forEach((c) => { %>
            <p><%= c.name %></p>
        <%}) %>
        
        
        <br>

        <form action="/submit" method="POST">
            <label for="name">Name:</label><br>
            <input type="text" name="name" ><br>
            
            <label for="breed">Breed:</label><br>
            <input type="text" name="breed"><br><br>
            
            <input type="submit" value="Submit">
        </form> 

<%- include("layoutBottom") %>